

@import "~bootstrap/dist/css/bootstrap.css";


.pitch img {
    max-width: 90px;

}

.pitches{
    text-align: center;
    margin: 3%;
    color: black;
  }
  .pitch{
    text-align: center;
    font-size: 200%;
    font-weight: 600;
    font-family: Patua One;
  }
  .home{
    background-image:url('https://st3.depositphotos.com/14431644/19280/i/1600/depositphotos_192805940-stock-photo-word-writing-text-what-is.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tex{
    color: white;
  }